<h1>USER PROFILE/HOMEPAGE</h1>

<p><%= current_user.name %></p>

<p>user will have list of workouts displayd on this page.</p>

<!-- click button to create new workout
generate form 
jquery/ajax??
enter name of exercises/have drop down list?
sets and weights used

complete workout saves it to the db -->
